<h1>Edit Handbag</h1>

<%= render partial: 'layouts/errors', locals: {object: @handbag}  %>

<%= form_for (@handbag) do |f| %>
  <%= f.label :brand %>
  <%= f.text_field :brand %>
  <%= f.label :color %>
  <%= f.text_field :color %>
  <%= f.label :fabric %>
  <%= f.text_field :fabric %>

  <p> Select a Designer that already exists: </p>
<div>
  <%= f.collection_select :designer_id, Designer.all, :id, :name, include_blank: 'Select One'%>
</div>
  
 
  <br><br>
    <% if !params[:designer_id] %>
 <p> Or create a new Designer: </p>
  <div>
    <%=f.fields_for :designer do |d| %>
      <%= d.label :name %>
      <%= d.text_field :name %>
      <%= d.label :country %>
      <%= d.text_field :country %>
    <% end %>
    <% end %>
  </div>


  <br><br>
  <%= f.submit  %><br><br>
   <%= link_to "Delete Entry", handbag_path(@handbag), method: :delete %><br><br><br>

<% end %>

