<h1>Designers</h1>

<p></p>


<ol>
  <% @designers.each do |designer| %>
  <%= link_to "Write  Review", new_designer_review_path(designer.id)%> 
  <li><%= designer.name%> - <%= designer.country%> <br><br></li><br> 
  <% end %>
  </ol>


<%= link_to " Designer Reviews ", reviews_path %><br><br>
<%= link_to "Shoe Index", shoes_path %><br><br>
<%= link_to "Handbag Index", handbags_path %><br><br><br>

 
