<h1>Edit Shoe<h1>

<%= render partial: 'layouts/errors', locals: {object: @shoe}  %>

<%= form_for (@shoe) do |f| %>
  <%= f.label :brand %>
  <%= f.text_field :brand %>
  <%= f.label :color %>
  <%= f.text_field :color %>
  <%= f.label :fabric %>
  <%= f.text_field :fabric %>
  
  <br><br>
    
  </div>
  <br><br>
  <%= f.submit  %> <br><br>
  <%= link_to "Delete Entry", shoe_path(@shoe), method: :delete %><br><br><br>
<% end %>

