


  <h1>All Shoes</h1>

<ol>
  <% @shoes.each do |shoe| %>
    <li><%= shoe.brand%> - <%= shoe.color %> </li><br>
     
  <% end %>
</ol>

      <%= link_to "New Shoe Entry", new_shoe_path %><br><br>
     
     <%= link_to "Handbag Index", handbags_path %><br><br>

     <%= link_to "Designer Index", designers_path %><br><br>

      <%= link_to "Reviews Index", reviews_path %><br><br>

  

