Shoe Show Page

<h2>Brand: <%= @shoe.brand %> </h2>

<h2>Color: <%= @shoe.color %> </h2>

<h2>Fabric: <%= @shoe.fabric %> </h2>

<h2>Designer:<%= @shoe.designer.name %> </h2>

<h2>Country: <%= @shoe.designer.country %> </h2>

  
 
  
