<!DOCTYPE html>
<html>
  <head>
    <title>LuxClosetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %><br><br>
  </head><br><br><br>


  <body>
  <%= link_to 'Log Out', logout_path,  method: :delete%>
    <%= yield %>

  </body>
</html>
